# PyCharm
.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

xvector_dir
gt_labels
experiment_dir
exp
runs
data

*.pyc
.DS_Store
